dist
node_modules
pnpm-lock.yaml
.turbo
**/CHANGELOG.md
**/*.d.ts
**/test/fixtures/**
examples/hardhat/cache
examples/foundry/cache
examples/multi-chain/cache
examples/foundry/out
examples/foundry/cache
examples/foundry/broadcast
examples/foundry/deployers
examples/hardhat/artifacts
examples/hardhat/cache
examples/hardhat/deployers
examples/hardhat-v3/artifacts
examples/hardhat-v3/cache
examples/hardhat-v3/deployers
examples/tevm/deployers
examples/tevm/.tevm
apps/docs/dist
apps/docs/.waku
apps/docs/.vercel
